*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 100vw;
    height: 100vh; */
    margin-left: 5%;
}
nav{
    display: flex;
    margin-top: .5%;
}
.logo{
    margin-top: 0%;
}
.list{
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left:7rem ;
    margin-top: 2%;
}
.nav-btn{
    margin-left: 35rem;
    margin-top: 2%;
    background-color: #7752ae;
    color: white;
    padding: 7px;
    border-radius: 7px;
    width: 90px;
    font-weight: bolder;
}
.left_side_section{

    float: left;
    width: 35%;
    
    padding: 5px;
    margin-top: 10%;
    padding: 5px;
    height: 60%;
    
}
.left_side_section h1{
    font-weight: 400;
    font-size: 90px;
    color: rgb(2, 2, 83);
}
.left_side_section h1 span{
    color: rgb(7, 131, 179);
}
.left_side_section p{
    font-size: 28px;
}
.right-side-section{
    float: left;
    width: 40%;
    padding: 5px;
    height: 60%;
    
}
.section-btn{
    margin-top: 5%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #5a368f;
    font-weight: bolder;
    
}
.right-svg{
    width: 150%;
    
}